body {
    padding: 100px;
}

.submit-area {
    width: 100%;
    border: none;
    padding: 40px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10px;
}

#transaction-area{
    display: none;
}

.deposit {
    background-color: slateblue;
    
}

.withdraw {
    background-color: lightsalmon;
}

.balance {
    background-color: orange;
}

.style {
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.box {
    width: 100%;
    border: none;
    padding: 40px;
    margin-top: 20px;
    box-shadow: 5px 5px 10px grey;

}